<section class="form-section">
  <h2 class="title margin-center">Login</h2>

  <%= form_tag sessions_path do %>
    <div>
      <%= label_tag :email %>
      <%= email_field_tag :email, params[:email], placeholder: "Enter your email" %>
    </div>

    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password, placeholder: "Enter your password" %>
    </div>

    <div>
      <%= submit_tag "Log in", class: "btn" %>
    </div>
  <% end %>
</section>
